<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/header.css">

  <title>URL Shortener</title>
</head>
<body>
  <hr />
  <div class="container">
    <button style="background-color: #161618; color: #ffffff; padding: 7px; border: none; border-radius: 5px;">
      <a href="/users/destroySession" style="text-decoration: none; color: #ffffff; display: block;">
          Sign Out
      </a>
  </button>
  
    
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Enter Your URL here</label>
      <input required placeholder="URL" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn" style="background-color: #333333; color: white;" type="submit">Shorten URL</button>

    </form>
    
    <table class="table table-striped table-responsive table-full-width">
      <thead>
        <tr>
          <th>Full URL Link</th>
          <th>Your Short URL</th>
          <th>Total Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <hr />
</body>
</html>
